@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Tahoma */
  @font-face {
    font-family: "Tahoma";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/fonts/Tahoma/Tahoma Regular font.ttf") format("ttf");
  }
  body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background-color: #f8f4ea;
  }
}

.clip-logo {
  clip-path: polygon(93% 0, 9% 0, 8% 100%, 92% 100%);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* Estilos para WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track-piece {
  background: #e1ead6;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #cb261e;
  border-radius: 20px;
}
